.header {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
