.oakley{
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  padding-top: 160px;
  position: inherit;

  z-index: 1;
  margin-bottom: -60px;
}
