.khan__buy-link{
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  transition: opacity 1s linear 0s;
}

.khan__buy-link:hover {
  opacity: 0.3;
}

.khan__buy-link::after{
  content: "→";
}
